.portfolio {
  visibility: hidden;
  transform: translate(0px, 0px);
  inset: 0px auto auto 0px;
  margin: 0px;
  max-width: 95%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 1;
   
}

.portfolio2 {
  visibility: hidden;
  transform: translate(0px, 0px);
  inset: 0px auto auto 0px;
  margin: 0px;
  max-width: 95%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2 ;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 2;
   
}